.main-reviews {

  &__container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    @include media('>=desktop') {
      padding-bottom: 12rem;
    }
    @include media('>=desktop-wide') {
      padding-top: 14rem;
    }
  }

  &__bg {
    @include size(100%);
    object-fit: cover;

    &-wrap {
      position: absolute;
      top: 5rem;
      right: 0;
      width: 60%;
      height: 60%;
      max-height: 58rem;
      z-index: 1;
      @include media('>=desktop-wide') {
        top: 8.5rem;
      }

      &::before {
        content: '';
        @include size(100%);
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($c-black, .7);
      }
    }
  }

  &__action {
    width: 100%;
    max-width: 18.9rem;
    background-color: #be8d58;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    @include media('>=tablet') {
      max-width: 24rem;
    }
    @include media('>=desktop') {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 4rem 5rem;

      &::before {
        content: '';
        display: block;
        @include size(42rem, 40rem);
        background-color: #be8d58;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  &-swiper {
    padding: 7rem 2.5rem 2rem;
    margin: -2rem -2.5rem -2rem;
    position: relative;
    z-index: 1;
    @include media('<tablet') {
      padding: 5rem 1.5rem 2rem;
      margin: -2rem -1.5rem -2rem;
    }

    &__slide {
      box-shadow: 0 0 2rem rgba(189, 189, 189, 0.2);
      background-color: $c-white;
    }

    &__name {
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: .4em;
      @include media('>=tablet') {
        font-size: 1.8rem;
      }
    }

    &__date {
      font-size: 1.2rem;
      font-style: italic;
      opacity: .4;
      @include media('>=tablet') {
        font-size: 1.6rem;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      position: relative;
      padding: 3rem 2rem;
      @include media('>=desktop') {
        padding: 4rem 3rem;
      }
    }

    &__text {
      line-height: 1.8;
      padding: 0 2rem 3rem;
     @include media('>=desktop') {
       padding: 0 3rem 5rem;
     }
    }

    &__about {
      line-height: 1;
      margin-left: 10.8rem;
      @include media('>=tablet') {
        margin-left: 13.8rem;
      }
    }

    &__img {
      @include size(100%);
      object-fit: cover;

      &-wrap {
        @include size(11.8rem);
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 2rem rgba(189, 189, 189, 0.2);
        background-color: #676666;
        position: absolute;
        left: 0;
        bottom: -1rem;
        transform: translateY(-20%);
        @include media('>=tablet') {
          @include size(14.8rem);
          left: -1rem;
        }
      }
    }
  }

}