.policy {
  padding: 3rem 0;
  @include media('>=desktop') {
   padding: 6rem 0;
  }

  p {
    margin-bottom: 1em;
  }

  ul {
    line-height: 1;
    padding-left: 1em;
    margin-bottom: 1em;
    li {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: .5em;
      }
      &::before {
        content: '';
        @include size(.7rem);
        border-radius: 50%;
        background-color: $c-brown;
        margin-right: .4em;
        flex-shrink: 0;
      }
    }
  }
}